.clearfix
	display: table
	content: ""
	
	&:before
		@extend .clearfix

	&:after
		@extend .clearfix
		clear: both

.container 
	margin-right: auto
	margin-left: auto

	@media (max-width: 767px)
		
		&
			padding-right: 15px
			padding-left: 15px
	
	@media (min-width: 768px)

		&
			width: 750px

	@media (min-width: 992px)

		&
			width: 970px

	@media (min-width: 1200px)
		& 
			width: 1170px

body
	font-family: Dosis
	font-size: 14px
	line-height: 26px
	color: #333
	background-color: #fff
	overflow-x: hidden

.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 
	position: relative
	min-height: 1px 
	float: left

.col-lg-12 
	width: 100%
  
.col-lg-11 
	width: 91.66666667%
  
.col-lg-10 
	width: 83.33333333%
  
.col-lg-9 
	width: 75%
  
.col-lg-8 
	width: 66.66666667%
  
.col-lg-7 
	width: 58.33333333%
  
.col-lg-6 
	width: 50%
  
.col-lg-5 
	width: 41.66666667%
  
.col-lg-4 
	width: 33.33333333%
  
.col-lg-3 
	width: 25%
  

#content,
#wrapper
	width: 100%


 
//
// Logo
//
#logo
	float: left
	padding: 10px 0
 	
	img
		height: 80px
	    transition: all 0.3s ease-in-out
	   
 
	.header-type-left &  
		position: relative
		left: 50% 
    	transform: translateX(-50%)
 
		img
			float: none
  
.no-hide-logo
	display: block!important

.preloader-button
	color: #828282 
	transition: all 0.3s ease-in-out
	font-size: 20px
	margin: 20px
	position: absolute
	top: 0
	right: 0

	:hover
		color: #f95b39

#preloader-page 
	background-color:#fff
	position: fixed
	width: 100%
    height: 100%
	display: none
	top: 0
	left: 0
	z-index: 999999999999

	a
		text-decoration: none

	&-spinner
		width: 40px
		height: 40px
		top: 50%
    	left: 50%
    	position: relative
		background-color: #333
		transform: translateX(-50%) translateY(-50%)
		border-radius: 100%
		animation: scaleout 1.0s infinite ease-in-out

@keyframes scaleout 
  0% 
    transform: scale(0.0)

  100% 
    transform: scale(1.0)
    opacity: 0

//  
// header
//
.main-body-class
 	background-color: #f9f9f9

#header-wrap
	left: 0
	right: 0

	@media (min-width: 1020px) 
	
		.header-type-one &
			position: fixed
			right: 0
			left: 0
			z-index: 999
			background-color: #fff
		
	@media (max-width: 1019px)

		&
			width: 100%

		.header-type-one &
			position: relative
			z-index: 9
			background-color: #fff

.full-header
	width: 100%

.header-type-one
	height: 100px

.header-wrap-overlay
	height: 100px
	transition: all 0.3s ease-in-out

.menu
	touch-action: pan-y
	list-style: none
	padding: 0
	margin: 0
	visibility: visible

	@media (min-width: 1020px)

		&
			float: right

		li
			position: relative	
			font-size: 15px
			transition: all 0.3s ease-in-out
			float: left
			text-transform: uppercase

		a
			color: #333
			line-height: 100px 
			transition: all 0.3s ease-in-out
			text-decoration: none
			background-color: transparent
			text-transform: uppercase
			padding: 0 10px
			font-weight: 600

	li:hover
			background-color: #f95b39
 
.title-box
	background: url(../images/old_moon.png)
	padding: 30px 0
	margin-bottom: 50px
 
.title-box h1
	margin: 0

//
// Posts
//
article
	
	background: #fff
	margin-bottom: 20px

	.large-post-item
		background-color: #fff
		margin-bottom: 40px

.post

	&-thumb img 
		width: 100%
		background-size: cover

	&-entry
		padding: 16px

	&-header 

		h2
			margin-top: 0
			font-size: 37px
			letter-spacing: 1px
			line-height: 40px
			text-transform: uppercase

		a
			text-decoration: none
			color: #333
			transition: all 0.3s ease-in-out

			&:hover
				color: #f95b39

//
// Comment Author
//
.post-single-comment
	margin: 40px 0
	padding: 16px
	background-color: #fff

.comment

	&-wrap-author
		img
			width: 90px

	&-wrap-author 
		float: left
		margin-right: 16px

	&-reply
		float: right
		padding: 1px 5px
		background-color: #f95b39
		color: #fff
		cursor: pointer
		transition: all 0.3s ease-in-out

	&:hover
		background-color: #333

	&-reply,
	&-wrap 
		margin-bottom: 30px
		overflow: hidden

	&-wrap.children
		margin-left: 60px


.count-comments
	margin: 0 0 20px


#submit
	font-size: 14px
	line-height: 26px
	cursor: pointer
	transition: all 0.3s ease-in-out

	&:hover
		background-color: #f95b39
		border-color: #f95b39
		color: #fff


input[type="submit"]
	transition: all 0.3s linear
	background-color: transparent
	padding: 13px 17px
	border: 2px solid

#respond
	margin-bottom: 40px

#commentform 

	textarea
		width: 100%
				
//
// Sidebar
//
.sidebar
	overflow: hidden
	
.widget
	color: #838383
	margin: 40px 0

	h4
		text-transform: uppercase
		font-size: 20px
		margin-bottom: 20px

	a
		color: #838383
		transition: all 0.3s ease-in-out
	
		&:hover
			color: #f95b39

	ul
		list-style: none

	li 

		a
			text-decoration: none

	h2
		position: relative
		overflow:hidden

		&:after
			content: ""
			position: absolute
			top: 48%
			border-bottom: 1px solid
			border-color: #838383
			width: 100%
			margin: 0 14px

 
  
 